@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.top-bar a {
  color: #E8EFF3; }

.top-bar li a {
  color: #eee; }

.radio_option {
  margin: 0px 16px 0px 8px; }

label {
  font-size: .75em;
  color: #A08865;
  text-transform: uppercase; }

h5 {
  color: #7490A0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase; }

/** Story **/
.displayimage {
  object-fit: cover;
  width: 600px;
  height: 200px; }

.story {
  padding: 10px 10px 20px;
  margin-bottom: 30px;
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 4px; }
  .story p {
    line-height: 1; }
  .story__details {
    margin-top: 15px;
    margin-bottom: 15px; }
  .story__date, .story__author {
    color: #aaa;
    font-size: 1.25em;
    margin: 0px 0px;
    line-height: 1;
    text-transform: uppercase; }
  .story__weekday {
    margin-top: 10px; }
  .story__day {
    font-weight: 900;
    color: #333; }
  .story__year {
    font-weight: 400;
    color: #aaa;
    font-size: 1.25em; }
  .story__noteshead, .story__projecthead {
    margin: 0;
    margin: 15px 0px;
    text-transform: uppercase;
    font-weight: 700;
    color: #777777; }
  .story__notes, .story__project {
    margin: 0;
    margin-top: 5px;
    color: #777777; }
  .story__client {
    text-transform: uppercase;
    color: #aaa; }
  .story__edit {
    float: right;
    display: inline;
    text-transform: uppercase;
    color: #aaa; }
  .story__media {
    margin-top: 25px;
    font-size: 1.25em; }
  .story h3 {
    font-weight: 700;
    line-height: 1.1; }
  .story__description {
    margin-top: 10px;
    color: #777777;
    line-height: 1.25; }

.adminlayout, .clientLayout {
  background-color: #eee; }

.admin {
  width: 100%; }
  .admin__nav {
    background-color: #eee;
    height: 100vh;
    border-right: 1px solid #ddd; }
  .admin__title {
    font-size: 1.25em;
    font-weight: bolder; }
  .admin__menu {
    padding: 0;
    margin: 0;
    list-style-type: none; }

.client__section {
  background-color: #fbfbfb;
  margin: 8px 0px;
  padding: 8px 0px; }

.client__data {
  list-style-type: none; }
  .client__data li {
    padding: 0px;
    margin-bottom: 10px; }

.client__logo {
  width: 150px; }

.media__name {
  font-weight: 700;
  margin: 15px 0px 8px;
  padding: 16px 0px;
  font-size: 18px;
  display: block;
  text-align: center; }
  .media__name h3 {
    padding: 0px;
    margin: 0px;
    line-height: 1; }

.media__count {
  font-weight: normal;
  color: #515C62; }

.card-flex-article .card-divider {
  display: flex;
  background: transparent; }
  .card-flex-article .card-divider p {
    margin-bottom: 0; }
  .card-flex-article .card-divider .avatar {
    margin-right: 0.75rem; }

.card-flex-article .avatar {
  position: relative; }
  .card-flex-article .avatar img {
    border-radius: 50%; }
  .card-flex-article .avatar.with-add-icon .fa {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #8EB0C4; }

.card-flex-article .card-actions .fa:not(:last-of-type) {
  margin-right: 1rem; }

.card-flex-article .card-image {
  position: relative; }
  .card-flex-article .card-image img {
    object-fit: cover;
    width: 100%;
    height: 150px; }

.card-flex-article .card-tag {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  border-radius: 3%;
  background-color: #C4A67B;
  color: #FBFBFB; }

.card-flex-article .card-section .article-title {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1;
  margin-bottom: 8px; }

.card-flex-article .card-section .article-details {
  font-size: 0.75rem;
  opacity: 0.5;
  padding-bottom: 0.75rem; }

.card-flex-article .card-section .article-summary {
  color: #637078;
  line-height: 1.15; }

.card-flex-article .user-info {
  font-size: 0.75rem; }
  .card-flex-article .user-info .user-name {
    font-weight: bold;
    margin-bottom: 0; }

.card-flex-article .notability {
  font-size: 0.75rem;
  opacity: 0.5; }

.contact .new_org {
  margin-top: 21px; }

.contact__name {
  display: block;
  font-size: 1.25em;
  font-weight: bolder;
  margin-bottom: 4px;
  line-height: 1;
  color: #637078; }

.contact__org {
  display: block;
  margin: 0px;
  line-height: 1;
  color: #7490A0; }

.contact__title {
  background-color: #C1D4DF; }

.contact__details {
  background-color: #FBFBFB;
  padding: 8px 16px; }
  .contact__details label {
    display: inline-block;
    width: 100px; }

.contact__abbr {
  padding: 8px 16px; }

.contactsocial {
  display: inline-block;
  vertical-align: bottom; }

.contact__socialhandle {
  width: 45%; }

.contact__socialicon {
  width: 10%;
  margin-bottom: 16px; }

.contact__socialweb {
  width: 35%;
  text-align: right;
  color: #B8BEC2;
  padding-right: 16px;
  margin-bottom: 16px; }

.contact__socialcopy {
  width: 10%;
  padding-left: 16px; }

.contact__buttons input[type='submit'] {
  background-color: #A08865;
  margin: 30px 0px;
  padding: 12px 20px;
  border: 0px;
  color: #FBFBFB; }

.navbar-brand {
  font-weight: 500;
  font-size: 24px;
  margin-left: 30; }

.logo-menu {
  height: 40px;
  margin-right: 40px; }

label[for=story_headline], label[for=mediaSelect], label[for=reporter],
label[for=story_notes], label[for=story_image], label[for=story_description], label[for=project],
label[for=contactSelect] {
  display: none; }

#story_headline, #addPhoto, #story_file, #mediaSelect, #reporterSelect, #story_notes, #story_image,
#story_description, #addNewMedia, #addNewReporter, #projectSelect, #addNewProject, #contactSelect {
  display: none; }
